/* You can add global styles to this file, and also import other style files */
.app-button {
    float: right;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    padding: 0px 10px;
  }
  